#include "resource.h"

// Main Icon
IDI_APP_ICON ICON "exe.ico"

// String Table
STRINGTABLE 
BEGIN
    IDS_APP_TITLE    "Patcher Application"
    IDS_APP_VERSION  "Version 1.0"
    IDS_COPYRIGHT    "Copyright (C) 2024"
END

// Version Information
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3F
 FILEFLAGS 0x0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 BEGIN
     BLOCK "StringFileInfo"
     BEGIN
         BLOCK "040904b0" // Language and code page
         BEGIN
             VALUE "CompanyName", "DevSenpai"
             VALUE "FileDescription", "Patcher Application for Modifications"
             VALUE "FileVersion", "1.0.0.0"
             VALUE "InternalName", "Patcher"
             VALUE "LegalCopyright", "Copyright (C) 2024"
             VALUE "OriginalFilename", "Patcher.exe"
             VALUE "ProductName", "Patcher Application"
             VALUE "ProductVersion", "1.0.0.0"
         END
     END
     BLOCK "VarFileInfo"
     BEGIN
         VALUE "Translation", 0x409, 1200
     END
 END
