id ICON "exe.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "DevSenpai"
      VALUE "FileDescription", "Patch inject a binary file."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Patcher"
      VALUE "LegalCopyright", "Copyright (c) 2024 Dev. All Rights Reserved."
      VALUE "OriginalFilename", "Patcher.exe"
      VALUE "ProductName", "Patcher"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
