// resource.rc
#include "winuser.h"

IDI_ICON1 ICON DISCARDABLE "favexe.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "Please Help! PeroPero HasuHasu"
            VALUE "FileDescription", "Make all DLC free and playable in a Certain Rhythm Game."
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "JustAsPlanned"
            VALUE "OriginalFilename", "JustAsPlanned.exe"
            VALUE "ProductName", "JustAsPlanned"
            VALUE "ProductVersion", "1.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
